* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    background: #d6d4d4;
}

/* nav {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  font-weight:400;
  background: rgb(177, 176, 176);
  height: 8vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

nav > a {
    text-decoration: none;
    color: rgb(73, 73, 73);
} */

.item1 {
    grid-area: head;
    display: flex;
    justify-content:center;
    align-items: center;
}

.item1-2 {
    position: relative;
    left: 400px;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item3-1{
    position:relative;
    left: 45%;
}

.item3-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: blueviolet;
    list-style: none;
}

.item3-2-1{
    gap: 30px;
    padding: 30px;
}

.item3-3{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-start;
    list-style: none;
}

.item3-3-1{
    gap: 20px;
    padding: 30px;
}

.rarity-1{
    margin: 5px;
    padding: 10px;
    background-color: rgb(86, 86, 248);
}

.rarity-2{
    margin: 5px;
    padding: 10px;
    background-color: rgb(155, 11, 212);
}

.rarity-3{
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 0, 200);
}

.rarity-4{
    margin: 5px;
    padding: 10px;
    background-color: rgb(250, 29, 29);
}

.rarity-5{
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 251, 0);
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'head head head head head'
    'menu main main main main'
    'menu main main main main'
    'menu main main main main'
    'menu main main main main';
    gap: 3px;
    padding: 0px;
    background-color: #5175ca;
    overflow: hidden;
}

.grid-container > div {
    background-color: #d6d4d4;
}

input {
    display: block;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 20em;
}

.register > label {
    margin-top: 0.5em;
    display:inline-block;
}

.register > input {
    padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.register > input[type="submit"] {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    margin-top: 1em;
    height: 4em;

    background-color: #6eaf8f;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
}

.title {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
}

.login {
    width: 20em;
}

.login > label {
    margin-top: 1em;
    display:inline-block;
}

.login > input {
    padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.login > input[type="submit"] {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    margin-top: 1em;
    height: 4em;

    background-color: #6eaf8f;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
}

.error {
    color: red;
    margin-top: 1em;
}